<div class="inputs">
  <h1>Input</h1>

  <div class="input-inside">
    <h4>id</h4>  
    <input [(ngModel)]="id" type="text">
    <br>
    <p>{{id}}</p>
    <h4>isActive</h4>  
    <input [(ngModel)]="isActive" type="text">
    <br>
    <p>{{isActive}}</p>
    <h4>age</h4>  
  </div>
  <div class="input-inside">
  <input [(ngModel)]="age" type="text">
  <br>
  <p>{{age}}</p>
  <h4>name</h4>  
  <input [(ngModel)]="name" type="text">
  <br>
  <p>{{name}}</p>
  <h4>company</h4>  
  <input [(ngModel)]="company" type="text">
  <br>
  <p>{{company}}</p>
  <h4>email</h4>  
  </div>
  <div class="input-inside">
  <input [(ngModel)]="email" type="text">
  <br>
  <p>{{email}}</p>
  <h4>phone</h4>  
  <input [(ngModel)]="phone" type="text">
  <br>
  <p>{{phone}}</p>
  <h4>address</h4>  
  <input [(ngModel)]="address" type="text">
  <br>
  <p>{{address}}</p>
  </div>

</div>
